.item {
    padding: 15px;
    width: 250px;
    height: 250px;
    margin-bottom: 30px;

    .check-details {
        position: relative;
        top: 97%;
        left: 72%;
        background-color: #ede7f6;
        width: 60px;
        vertical-align: baseline;
        border-radius: 3px;
        border: 1px solid #bbb5c3;
        font-size: medium;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1px;

        input[type="checkbox"]{
            width: 16px;
            height: 16px;
            padding: 0;
            margin: 0;
        }

        span{
            font-weight: 400;
            margin-bottom: 4px;
        }
    }

    .active{
        background-color: #76d275 !important;
        border: 1px solid #43a047;
        color: #e8eaf6;
    }

    .name{
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        height: auto;
        background-color: #bbb5c3;
        border-radius: 2px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 2px;
        box-shadow: -.5px -.5px 8px #7986cb;        
    }
}